.render-content {
  background-color: #D6EDFF;
}

.text-welcome {
  color: #2b2d42;
}

.text-welcome-content {
  color: #087ca7;
}

.btn-outline-register {
  background-color: transparent;
  border: 2px solid #2b2d42;
  color: #2b2d42;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.3rem;
  transition: background-color 0.2s, color 0.2s;
}

.btn-outline-register:hover {
  background-color: #2b2d42;
  color: white;
}

.btn-outline-register:focus {
  outline-style: solid;
  outline-color: #2b2d42;
  outline-width: 2px;
  outline-offset: 2px;
}

.btn-outline-register:active {
  background-color: #2b2d42;
  color: white;
}

.teacher-photo {
  border: 2px solid #087ca7;
  padding: .5rem;
  border-radius: 0.3rem;
}

.select-image {
  background-color: transparent;
  border: 2px solid #2b2d42;
  color: #2b2d42;
  transition: background-color 0.2s, color 0.2s;
}

.select-image:hover {
  background-color: #2b2d42;
  color: white;
}

.select-image:focus {
  outline-style: solid;
  outline-color: #2b2d42;
  outline-width: 2px;
  outline-offset: 2px;
}

.select-image:active {
  background-color: #2b2d42;
  color: white;
}