.homePage {
    background-image: url('https://www.bse.com.uy/wps/wcm/connect/17e4a502-a584-49f4-b135-69b803edc67b/shutterstock_1714213732+%281%29.jpg?MOD=AJPERES');
    background-size: cover;
    height: 550px;
}