/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/
/* src/App.css */
html {
  scroll-behavior: smooth;
}

h1 {
  text-decoration: underline;
}

/* Navbar personalizado */
.navbar-custom {
  background-color: #060606;
  font-weight: bold;
  justify-content: space-between;
  color: white;
}

/* Botón de hamburguesa */
.navbar-toggler {
  background-color: transparent;
  border: none;
  padding: 0.4em;
}

.navbar-toggler-icon {
  background-color: #f8f8fd;
  width: 25px;
  height: 3px;
  border-radius: 2px;
  position: relative;
  transition: all 0.3s ease;
  text-align: -webkit-auto;
}

.navbar-toggler-icon::before,
.navbar-toggler-icon::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #f8f8fd;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.navbar-toggler-icon::before {
  top: -8px;
}

.navbar-toggler-icon::after {
  top: 8px;
}

/* Transformación del botón hamburguesa al estar activo */
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  background-color: transparent;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  transform: rotate(45deg);
  top: 0;
}

.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-45deg);
  top: 0;
}

#basic-navbar-nav {
  transition: max-height 1.5s ease;
  max-height: 0;
}

.collapse-custom.show {
  max-height: 500px; 
}

.NavButton.nav-link {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: #0d0d0e;
  background-color: #f8f8fd;
  padding: 0.8em 2.2em;
  border-radius: 8px;
  margin: 15px 3px;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.NavButton.nav-link:hover {
  background-color: #0056b3;
  color: white !important;
}

.NavButton.nav-link:active {
  position: relative;
  top: 8px;
  box-shadow: 0px 0px;
}

.dashboard-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #060707;
  z-index: 999;
}

#ContainerForm {
  padding-top: 100px;
  padding-bottom: 120px;
}
.footer {
  background-color: #060707;
  color: white;
  font-weight: bold;
}

a {
  color: aliceblue;
  text-decoration: none;
}

body {
  background: linear-gradient(180deg, #2396e8, #6d8090);
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  height: 100%;
}

p {
  font-size: 20px;
  text-align: center;
}

.section h2 {
  color: #f2f4f5;
  text-decoration: underline;
  margin-bottom: 20px;
}


.section h1,
.section h2 {
  margin-bottom: 15px;
  margin-top: 20px;
}

.section p {
  margin-bottom: 15px;
}

.allSection {
  background: linear-gradient(180deg, #0a3d62, #3c6382);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 40px;
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 20px;
}

.container {
  display: flex;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.text-content {
  flex: 1;
}

form {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  padding: 20px;
  background-color: whitesmoke;
  color: #060606;
  font-weight: 500;
  align-self: center;
  width: 100%;
}


form .form-control,
form .form-select {
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  transition: all 0.2s ease;
}

form .form-control:focus,
form .form-select:focus {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-color: #0a3d62;
  transform: scale(1.03);
  z-index: 1;
}



.image-content {
  flex: 1;
  display: flex;
  justify-content: center;
}

.section-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.section.alternate .text-content {
  order: 1;
}

.section.alternate .image-content {
  order: 2;
}

#registro {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  padding: 20px;
  text-align: center;
}
#LoginForm {
  margin-bottom: 90px;
}
/* From Uiverse.io by KhelVers */
.button {
  cursor: pointer;
  font-size: large;
  font-family: inherit;
  font-weight: bold;
  color: #0011ff;
  background-color: #f8f8fd;
  padding: 0.8em 2.2em;
  border-radius: 50em;
  border: 6px solid #8b93f8;
  box-shadow: 0px 8px #1f35ff;
}

.button:hover {
  background-color: #0056b3;
  color: white;
}

.button:active {
  position: relative;
  top: 8px;
  border: 6px solid #646fff;
  box-shadow: 0px 0px;
}



@media (max-width: 768px) {
  .section {
    flex-direction: column;
    text-align: center;
  }

  .register-button {
    width: auto;
    /* Deja de ocupar el 100% en pantallas grandes */
  }
}