/* 
    General Styles used on every website (Don't Repeat Yourself)
*/



/* Navbar CSS */

/* Footer CSS */
.footer{
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
/* Landing page CSS */

/* Listing page CSS */

/* Favorites CSS */

/* Wallet CSS */

/* Overall Performance CSS */

/* Login/singup modal */

/* Contact us modal */

/* about us page CSS */


