/* Navbar CSS */

/* Footer CSS */

/* Landing page CSS */

#landingPage {
    display: grid;
    background-color: black;
}

.previewBox {
    margin: 4vh auto;
    display: flex;
    height: 550px;
    scale: .1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 85vh
}

#listingPreview {
    
}

.previewPhoto {
    height: 550px;
    width: 450px;
    box-shadow: 0px 0px 55px 10px #39FF14;
    border-radius: 5%;
    margin-left: 50px;
    margin-right:50px;
    /* scale: .1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 90vh */
}

@keyframes fade-in {
    
    to { scale: 1; opacity: 1;}
}

.blurbContainer {
    text-align: center;
    margin: auto;
}

#switchToListing {
    background-color:#39FF14;
    border-color: black;
    border-width: 3px;
}

#switchToListing:hover {
    box-shadow: 0px 0px 35px 5px #39FF14;
}

.listingLogin {
    background-color:#39FF14;
    border-color: black;
    border-width: 3px;
}

.listingLogin:hover {
    box-shadow: 0px 0px 35px 5px #39FF14;
}

.blurb {
    font-size: 30px;
    width: 550px;
    margin-bottom: 2vh;
    color:#39FF14;
    /* scale: .1; opacity: 0;
    animation: fade-in linear forwards;
    animation-timeline: view();
    animation-range-start: cover;
    animation-range-end: 50vh */
}
/* Listing page CSS */

.coin-container {
    display: flex;              
    gap: 20px;                  
    padding: 20px;
    overflow-x: auto;          
    white-space: nowrap;        
    width: 100vw;               
    box-sizing: border-box;     
}


.coin-item {
    background-color: #f9f9f9;  
    border-radius: 10px;         
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: calc(100vw - 40px);   
    padding: 20px;
    text-align: left;            
    transition: transform 0.2s;  
    flex-shrink: 0;              
    display: flex;
    flex-direction: column;      
}


.coin-item:hover {
    transform: translateY(-5px); 
}


.coin-image {
    width: 50px;                 
    height: 50px;              
    margin-bottom: 10px;         
}


.coin-header {
    display: flex;
    align-items: center;         
    gap: 10px;
}

.coin-item h2 {
    font-size: 20px;
    margin: 0;
}


.coin-details p {
    font-size: 14px;
    color: #333;
    margin: 5px 0;
}
/* Favorites CSS */

/* Wallet CSS */

/* Overall Performance CSS */

/* Login/singup modal */

/* Contact us modal */

/* about us page CSS */


