
form {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    padding: 20px;
    background-color: whitesmoke;
    color: #060606;
    font-weight: 500;
    align-self: center;
    width: 100%;
    margin-bottom: 80px;
    margin-top: 80px;
  }
  h2 {
    margin-top: 50px;
    text-decoration: underline;
  }

  form .form-control,
  form .form-select {
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition: all 0.2s ease;
  }
  
  form .form-control:focus,
  form .form-select:focus {
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2), inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    border-color: #0a3d62;
    transform: scale(1.03);
    z-index: 1;
  }
  
  #ContainerForm {
    padding-top: 100px;
    padding-bottom: 180px;
    background: linear-gradient(180deg, #0a3d62, #3c6382);
  }

  .LoginForm {
    background: linear-gradient(180deg, #0a3d62, #3c6382);
    min-height: 91.3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    color: white;
}
