.dashboard-icon {
  position: fixed;
  top: 10px;
  left: 10px;
  cursor: pointer;
  z-index: 1000;
}

.dashboard {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100vh;
  background-color: #060707;
  z-index: 999;
}

.navbar-custom {
  background-color: #2b2d42;
  font-weight: bold;
  justify-content: flex-start;
  color: white;
  height: 100px
}

#basic-navbar-nav {
  transition: max-height 1.5s ease;
  max-height: 0;
  color: white;
  background-color: white;
}

.collapse-custom {
  background-color: #2b2d42;
  padding: 1em;
  border-radius: 8px;
  display: flex;
  justify-content: flex-end;
  position: relative;
  overflow: hidden;
}

/* Para que el menú colapsado muestre su contenido de forma gradual */
.collapse-custom.show {
  max-height: 500px;
  right: 10px;
  max-width: 25%;
  background: transparent;
}

.navbar-toggler {
  border: none;
  background-color: transparent;
  padding: 0.4em;
  position: relative;
  margin-left: auto;
}

.navbar-toggler-icon {
  position: relative;
  width: 25px;
  height: 3px;
  transition: all 1.3s ease;
}

.navbar-toggler:hover {
  background-color: #bbbaaa !important;
}

.navbar-toggler:focus {
  color: transparent !important;
}

/* modificación desde acá en los botones del navbar utilizando pseudoelementos*/
.NavButton {
  cursor: pointer;
  background-color: #2b2d42;
  margin: 5px 10px;
  font-size: large;
  font-family: inherit;
  color: white !important;
  position: relative;
  transition: color 0.3s ease, box-shadow 0.3s ease, transform 0.1s ease;
}

/* Efecto de línea animada debajo */
.NavButton::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #ffffff;
  bottom: -2px;
  left: 0;
  transition: width 0.4s ease;
}

.NavButton:hover::after {
  width: 100%;
}

/* Efecto con punto decorativo */
.NavButton::before {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  background-color: cyan;
  border-radius: 50%;
  left: -7px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.NavButton:hover::before {
  opacity: 0.75;
  transform: translateY(-50%) scale(1.2);
}

/* Estado activo con escala y cambio de color */
.NavButton:active {
  color: #bbb;
  transform: scale(0.95);
}

.NavButton:active::before {
  background-color: yellow;
}